/* 

---- 01 TYPOGRAPHY SYSTEM

- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- FONT WEIGHT
DEFAULT: 400
Medium: 500
Semi-bold: 600
Bold: 700

- LINE HEIGHT
DEFAULT: 1
Small: 1.05
Medium : 1.2
Paragraph Default: 1.6


- Letter spacing
- 0.5px
- 0.75px

---- 02 COLORS

      
- Main Color: #e67e22

- Tints:
#fae5d3
#fae5d3
#45260a
- Shades:
#cf711f
- Accents:
- Greys:
#6f6f6f
#555
#333

---- 05 SHADOWS
box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

---- 06 BORDER-RADIUS
DEFAULT px

---- 07 WHITESPACE
- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


*/

/* ********************************* */
/* General Components */
/* ********************************* */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgb(230, 126, 34, 0.5);
}

html {
  font-size: 62.5%; /*10px / 16px = 0.625 = 62.5%*/
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;

  /* Only works if there is nothing absoluty positioned in relation to body */
  overflow-x: hidden;
}

strong {
  font-weight: 500;
}

/* Helper classess */

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.center-text {
  text-align: center;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  line-height: 1.2;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

/* .grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
} */

.grid--center-v {
  align-items: center;
}

.heading-primary,
.heading-secondary {
  font-weight: 700;
  letter-spacing: -0.5px;
  color: #333;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
  color: #333;
}

.btn,
.btn:link,
.btn:visited {
  font-family: inherit;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  border-radius: 9px;
  display: inline-block;
  padding: 1.6rem 3.2rem;
  cursor: pointer;
  transition: background-color 0.3s;
  transition: all 0.3s;
  border: none;
}

.btn-full:link,
.btn-full:visited {
  color: #fff;
  background-color: #e67e22;
}

.btn-full:hover,
.btn-full:active {
  color: #fff;
  background-color: #cf711f;
}

.btn-outline:link,
.btn-outline:visited {
  color: #555;
  background-color: #fff;
}

.btn-outline:hover,
.btn-outline:active {
  color: #555;
  background-color: #fdf2e9;
  box-shadow: inset 0 0 0 3px #fff;
}

.btn-form {
  background-color: #45260a;
  color: #fdf2e9;
  align-self: end;
  padding: 1.2rem;
}

.btn-form:hover {
  background-color: #fff;
  color: #555;
}

.link:link,
.link:visited {
  display: inline-block;
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #cf711f;
  border-bottom: 1px solid transparent;
}
